[target.x86_64-pc-windows-gnu]
linker = "x86_64-w64-mingw32-gcc"
ar = "x86_64-w64-mingw32-ar"
# Generate import library for DLL linking
rustflags = [
    "-C", "target-feature=+crt-static",
    "-C", "link-arg=-Wl,--out-implib=target/x86_64-pc-windows-gnu/release/libics_lib.dll.a"
]

[build]
# Optimize for size and performance
rustflags = ["-C", "target-feature=+crt-static"]
